link-workspace-packages=false
# public-hoist-pattern[]=*
public-hoist-pattern[]=husky
public-hoist-pattern[]=*lint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*vite-plugin-mock*
public-hoist-pattern[]=vite
strict-peer-dependencies=false
