.vben-grid-layout-container {
  display: grid;
  grid-template-columns: minmax(0, var(--aside-width)) minmax(640px, 1fr);
  grid-template-rows: var(--header-height) var(--tab-height) 1fr;
  grid-gap: 3px;
  transition: grid-template-columns .3s, grid-template-rows .3s;
  transition-timing-function: var(--transition-bezier);

  &.layout-sidebar,
  &.layout-mix-sidebar {
    grid-template-areas:
      'vben-sidebar vben-header'
      'vben-sidebar vben-tab'
      'vben-sidebar vben-content';
  }

  &.layout-mix-sidebar {
    --aside-width: 80px;
  }

  &.layout-mix,
  &.layout-top-menu {
    grid-template-areas:
      'vben-header vben-header'
      'vben-sidebar vben-tab'
      'vben-sidebar vben-content';
  }

  &.layout-top-menu {
    --aside-width: 0;
  }

  .vben-grid-layout-header {
    grid-area: vben-header;
    background: #666666;
  }

  .vben-grid-layout-sidebar {
    grid-area: vben-sidebar;
    position: relative;
    visibility: var(--aside-visible);

    .vben-grid-layout-sidebar__border {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: var(--layout-border-color);
      transition: background-color 0.3s var(--transition-bezier);
    }
  }

  .vben-grid-layout-tab {
    grid-area: vben-tab;
    background: #0960bd;
  }

  .vben-grid-layout-content {
    grid-area: vben-content;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr minmax(0, var(--footer-height));

    background: #ed6f6f;
  }

  .vben-grid-layout-main {
    background-color: aqua;
  }

  .vben-grid-layout-footer {
    background-color: blueviolet;
  }
}
